@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: #ddd;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --header-bg: #f7f7f7;
    --footer-bg: #f7f7f7;
    --tag-bg: rgb(209, 209, 250);
    --search-border: #555; 
    --filter-button-bg: white;
    --filter-button-hover-bg: rgb(209, 209, 250);;
    --filter-button-border: #ccc;
    --speaker0-bg: #ececec;
    --speaker0-foreground: #000;
    --speaker1-bg: #f7f7f7;
    --speaker1-foreground: #000;
    --navbar-width: 285px;
    --navbar-shrunk-width: 24px;
    --icon-fill-light: #000000;
    --icon-fill-dark: #ffffff;
    --icon-fill: var(--icon-stroke-light)
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: #4c4d4d;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
    --header-bg: #333; 
    --footer-bg: #333;
    --tag-bg: #070606;
    --search-border: #555; 
    --filter-button-bg: #333; 
    --filter-button-hover-bg: #070606; 
    --filter-button-border: #666;
    --speaker0-bg: #333; 
    --speaker0-foreground: #fff;
    --speaker1-bg: #444; 
    --speaker1-foreground: #fff; 
    --navbar-width: 285px;
    --navbar-shrunk-width: 24px;
    --icon-fill: var(--icon-fill-dark);

  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--navbar-width);
  height: 100vh;
  overflow-y: auto;
  background-color: var(--header-bg);
  transition: width 0.3s;
}

.navbar.shrunk {
  width: var(--navbar-shrunk-width);
}

.container {
  transition: margin-left 0.3s;
}

.container.shrunk {
  margin-left: var(--navbar-shrunk-width);
}

.conversation-cards {
  margin-top: 1rem;
  padding: 0 1rem;
  margin-left: var(--navbar-width);
}

@media (max-width: 790px) {
  .navbar {
    width: 100%;
    height: auto;
    top: 0;
    position: fixed;
    overflow-x: auto;
    background-color: var(--header-bg);

  }

  .navbar.shrunk {
    width: 100%;
  }

  .container,
  .container.shrunk {
    margin-left: 0;
    margin-top: 60px;
  }

  .conversation-cards {
    padding: 0 0%;
    margin-left: 0;
  }

  .chartBox {
    display: none;
  }
}


.searchContainer input {
  width: 100%;
  padding: 4px;
  border: 2px solid var(--search-border);
  border-radius: 8px;
  outline: gray;
}

.filterButtons {
  display: flex;
  gap: 4px;
  justify-content: center; 
}

.filterButtons button {
  padding: 6px 12px;
  border: 1px solid var(--filter-button-border);
  background-color: var(--filter-button-bg);
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 8px;
  font-size: 10px;
  text-transform:uppercase
}

.filterButtons button:hover {
  background-color: var(--filter-button-hover-bg);
}
.filterButtons .activeFilter {
  background-color: var(--filter-button-hover-bg);
}

.chartBox {
  border: 2px solid var(--border);; 
  border-radius: 4px; 
  margin: 8px;
  margin-top: 8px;
  display: flex; 
  justify-content: center; 
}

.tagConversationContainer {
  display: flex; 
  flex-wrap: wrap; 
  gap: 4px; 
  justify-content: center; 
}

.tagConversation {
  background-color: var(--tag-bg); 
  border-color: var(--search-border);
  border-radius: 4px; 
  padding: 2px 6px;
  font-size: 0.75rem;
  white-space: nowrap; 
}

.not-read-count {
  font-weight: bold;

}

.marked-count {
  color: red;
  font-weight: bold;

}

.ok-count {
  color: green;
  font-weight: bold;

}

#logo-icon path {
  fill: var(--icon-fill);
}