Speaker 0: I'm going to go ahead and get started.

Speaker 1: Mr. Bartos, I'm sorry, Natalie's in a meeting at the moment. Would you like to leave a message? Yes,

Speaker 0: could you ask her to call me back as soon as possible? It's pretty urgent.

Speaker 1: Of course. Does she have your number?

Speaker 0: She has my office number, but let me also give you my cell. It's 472-555-8901.

Speaker 1: Let me read that back to you. 472-555-8901.

Speaker 0: That's right.

Speaker 1: And could you spell your last name for me?

Speaker 0: B as in Boston, A-R-D as in dog, O-S as in September.

Speaker 1: Okay, Mr. Bartos, I'll give her the message.

Speaker_0: Thanks a lot. Bye.